body {
    background-image: url(coffee.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Impact, serif;
}

* {
    margin: 0;
}

.container {
    background-color: burlywood;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: c;
    align-items: center;
    flex-direction: column;
    padding: 0 40px 50px 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.camper {
    font-size: 40px;
    font-weight: 800;
}

.est {
    font-style: italic;
    font-weight: 200;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: rgb(131, 0, 0);
    border-top: 1px solid black;
    margin-bottom: 10px;
}

.coffeeicon,
.pieicon {
    width: 50px;
}

.coffee {
    font-size: 30px;
    font-weight: 900;
}

.price {
    width: 100%;
}

.price div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    font-weight: 400;
}

.vanilla::after {
    content: ' $5.00 ';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.vanilla::before {
    content: '$';
}

.caramel::after {
    content: '$4.25';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.caramel::before {
    content: '$';
}

.spice::before {
    content: '$';
}

.spice::after {
    content: '$4.00';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.haze::before {
    content: '$';
}

.haze::after {
    content: '$5.00';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.mocha::before {
    content: '$';
}

.mocha::after {
    content: '$5.25';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.donut::before {
    content: '$';
}

.donut::after {
    content: '$2.25';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.pie::before {
    content: '$';
}

.pie::after {
    content: '$4.10';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.cake::before {
    content: '$';
}

.cake::after {
    content: '$4.00';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}

.roll::before {
    content: '$';
}

.roll::after {
    content: '$5.80';
    text-decoration-line: line-through;
    color: red;
    margin-left: 5px;
}